[submodule "azure-c-shared-utility"]
	path = azure-c-shared-utility
	url = https://github.com/SparhawkSoftware/azure-c-shared-utility.git
[submodule "libwebsockets"]
	path = libwebsockets
	url = https://github.com/warmcat/libwebsockets.git
